[submodule "odin-claude-plugin"]
	path = odin-claude-plugin
	url = https://github.com/OutlineDriven/odin-claude-plugin
[submodule "odin-reflector"]
	path = odin-reflector
	url = https://github.com/OutlineDriven/odin-reflector
[submodule "odin-codex-plugin"]
	path = odin-codex-plugin
	url = https://github.com/OutlineDriven/odin-codex-plugin
[submodule "odin-gemini-cli-extension"]
	path = odin-gemini-cli-extension
	url = https://github.com/OutlineDriven/odin-gemini-cli-extension
